body {
    color:  rgb(64, 126, 177);
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color:  rgb(233, 212, 173);
    font-size: 3rem;
    min-width: 40rem;
    cursor: pointer;
}

h1 {
    color:  rgb(64, 126, 177); 
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color:  rgb(64, 126, 177);
}

.choice.text {
    padding: 100rem;
    width: 100%;

}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2rem;
    margin-left: 208px;
}

.hud-main-text {
    text-align: end;
}



@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}