*,
* {
  box-sizing: border-box;
  /* background-color: rgb(64, 126, 177); */
  margin: 0;
  padding: 0;
  font-size: 50;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1 {
    font-size: 50;
    color:rgb(64, 126, 177);
    margin-bottom: 5rem;
}


h1 {
    font-size: 50;
    margin-bottom: 4rem;
}

h2 {
    color:rgb(64, 126, 177);
}

.container {
    display: flex;
    justify-content: center;
    width: 100vm;
    height: 100vh;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.choice-text {
    padding: 30px;
    margin-left: -54px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: rgb(64, 126, 177);
    background:  rgb(233, 212, 173);
    cursor: pointer;
    /* position: absolute;
    top: 50%;
    left: %; */
}

/*End page css*/
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
}

input::placeholder {
    margin-bottom: black;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    text-align: center;
}

#end-text {
    font-size:  36.4px;
    color:rgb(64, 126, 177);
    text-align: center;
    padding: 100px;
}

#saveScoreBtn {
    border: none;
}

